@{
    Layout = "_Layout";
}

@model Factory.Models.Engineer

<h1>Assign Engineer to Machine </h1>

<h2>Add Machine For: @Html.DisplayFor(model => model.Name)</h2>

@using (Html.BeginForm())
  {
    @Html.HiddenFor(model => model.EngineerId)
    <h3>machines: @Html.DropDownList("MachineId") </h3>
    <input type="submit" value="Save" />
  }

<p>@Html.ActionLink("Back to Engineers", "Index")</p>
<p>@Html.ActionLink("Back to Machines", "Index", "Machines")</p>
<p>@Html.ActionLink("Home", "Index", "Home")</p>
